pandas
pandas-ta
numpy
duckdb
pyarrow
scikit-learn
sktime
pmdarima
prophet

matplotlib
plotly

ccxt==4.5.10
backtrader
backtrader_plotting

nbformat>=4.2.0
nbconvert
ipykernel
streamlit
quantstats

logging
python-dotenv
tenacity
