version: '3.8'

services:
  app:
    image: python:3.13-bullseye
    container_name: blueocean_app
    ports: 
      - "8051:8051"
    volumes:
      - ..:/workspace
    working_dir: /workspace
    tty: true